.todo-list-body .list .todo-body{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;

    padding: 10px;

}

.todo-body div{
    margin: 0px 2px;
}

.todo-body.fade-out-todo{
    opacity: 1;
    animation-name: fadeTodoOut;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.todo-body .check-button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #018b56;
}

.todo-body .todo-name{
    flex-grow: 1;
}

.todo-body .todo-name input{
    width: 100%;
    border:0;
    background-color: transparent;
    font-size: 16px;

}

@keyframes fadeTodoOut {
    from{

        opacity: 1;

    }
    to{
        opacity: 0;
    }
}