.todo-list-body .list .todo-body{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    

    padding: 10px;


}

.todo-body div{
    margin: 0px 2px;
}

.todo-body.fade-out-todo{
    opacity: 1;
    animation-name: fadeTodoOut;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.todo-body.todo-deleted {
    position: relative;
}

.todo-body.todo-deleted::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top:0;
    right: 0;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0;
    

    animation-name: fadeDelete;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-play-state: running;
}


.todo-body .check-button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #018b56;
    margin-right: 10px;
}

.todo-body .remove-button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ca1a1a;
    margin-left: 10px;
}

.todo-body .todo-name{
    flex-grow: 1;
}

.todo-body .todo-name input{
    width: 100%;
    border:0;
    background-color: transparent;
    font-size: 16px;

}

@keyframes fadeTodoOut {
    from{

        opacity: 1;

    }
    to{
        opacity: 0;
    }
}

@keyframes fadeDelete {
    from{
        
    }to{
        background-color: #ca1a1a; 
        width: 100%;
        opacity: 1;
    }
}